@font-face {
    font-family: 'latoregular';
    src: url('/assets/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latothin';
    src: url('/assets/lato/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('/assets/lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
