.signal-notification {
  min-height: 3em;
  padding: 1em;
  margin: 0.5em;
  text-align: center;
  border-radius: 20px;

  .signal-ticker {
    font-family: $font-bold;
  }
}

.up {
  background-color: $light-green;
}

.down {
  background-color: $light-red;
}
