<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="left-pane col-lg-5">
      <h1>Left Pane</h1>
    </div>
    <div class="main-pane col-md-7">
      <h1>Main Pane</h1>
      {{#each signal in signals}}
        {{signal-notification signal=signal}}
      {{/each}}
    </div>

    {{outlet}}
  </div>
</div>
